{% extends 'SonataAdminBundle:Form:form_admin_fields.html.twig' %}

{% block sonata_immutable_tabs_type_widget %}
    {# Use js from immutableTabsType.js #}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            {{ form_errors(form) }}
            <div class="nav-tabs-custom immutable-tabs-widget">
                <ul class="nav nav-tabs" role="tablist">
                    {% for tab, child in form.children %}
                        {% set tabTitle = tab in tabs|keys ? tabs[tab] : 'Default' %}

                        <li{% if loop.first %} class="active"{% endif %}><a href="#tab_{{ id }}_{{ loop.index }}" data-toggle="tab"><i class="fa fa-exclamation-circle has-errors hide" aria-hidden="true"></i> {{ tabTitle|capitalize }}</a></li>
                    {% endfor %}
                </ul>
                <div class="tab-content">
                    {% for tab, child in form.children %}
                        <div class="tab-pane fade{% if loop.first %} in active{% endif %} tab_content_{{ tab }}" id="tab_{{ id }}_{{ loop.index }}">
                            <div class="box-body  container-fluid">
                                <div class="sonata-ba-collapsed-fields">
                                    <div class="tabs-form form_content_tab_{{ tab }}">
                                        {% for key, subchild in child %}
                                            {{ form_row(subchild) }}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {{ form_rest(form) }}
        </div>
    {% endspaceless %}
{% endblock sonata_immutable_tabs_type_widget %}

{% block sonata_type_internal_external_link_type_widget %}
    {% set widgetClass = '' %}
    <div class="LinkWidget">
        <div class="LinkWidget_Preview">
            {% if form.vars.value is not null %}
                {% set widgetClass = ' LinkWidget_Form-hidden' %}
                {% if form.vars.value.linkType == 'page' and form.vars.value.page is not null %}
                    <i class="fa fa-file-text-o"></i>
                    Interne :
                    <code class="LinkWidget_PagePath">{{ form.vars.value.page.url }}</code>
                    <a class="LinkWidget_ToggleLink btn btn-xs btn-default"><i class="fa fa-pencil-square-o"></i> {{ 'link_edit'|trans({}, 'SonataAdminBundle') }}</a>
                {% elseif form.vars.value.linkType == 'link' %}
                    <i class="fa fa-link"></i>
                    Externe :
                    <code>{{ form.vars.value.link }}</code>
                    <a class="LinkWidget_ToggleLink btn btn-xs btn-default"><i class="fa fa-pencil-square-o"></i> {{ 'link_edit'|trans({}, 'SonataAdminBundle') }}</a>
                {% else %}
                    <i class="fa fa-link"></i>
                    Sans lien :
                    <a class="LinkWidget_ToggleLink btn btn-xs btn-default"><i class="fa fa-pencil-square-o"></i> {{ 'link_edit'|trans({}, 'SonataAdminBundle') }}</a>
                {% endif %}
            {% endif %}
        </div>
        <div class="LinkWidget_Form{{ widgetClass }}">
            {{ block('form_widget') }}
        </div>
    </div>
{% endblock %}
